.navbar-brand{
	padding-top: 15px;
	font-style: strong;
	color: white;
}

.panel-default{
	margin-left: 20px;
	margin-right: 20px;
}

.alert{
	margin-left: 10px;
	margin-right: 20px;
}

.panel-group{
	padding: 10px;
}

.form-control{
	margin-left: 0px;
}

.aw-link-panel{
	float: right;
	padding: 0px;
}

.aw-titulo-panel{
	float: left;
	padding-top: 2px;
}

.col-sm-offset-2{
	margin-left: 235px;
	padding: 15px;
}