<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xmlns"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutPadrao}">
	
<head>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.standalone.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>	
<div class="alert alert-sucess" th:if="${!#strings.isEmpty(mensagem)}">
	<span th:text="${mensagem}">Título salvo com sucesso!</span>			
</div>
</html>