<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xmlns"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head  th:replace="LayoutPadrao">
	<meta charset="UTF-8"/>
	<title>Pesquisa de Título</title>
</head>
<section layout:fragment="conteudo">
	<div th:replace="MensagemGeral"></div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h2 class="panel-title aw-titulo-panel">Pesquisa de Título</h2>
				<a class="btn btn-link aw-link-panel" href="/titulos/novo">Novo Título</a>
			</div>		
		</div>
		<div class="panel-body">
			<form method="GET" class="form-horizontal" action="/titulos">
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control" placeholder="Qual título você está procurando?"
								autofocus="autofocus" name="descricao"></input>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Descrição</th>
						<th class="text-center col-md-1">Data de Vencimento</th>
						<th class="text-right col-md-2">Valor</th>
						<th class="text-center col-md-2">Status</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="titulo : ${titulos}">
						<td class="text-center" th:text="${titulo.codigo}">1</td>
						<td th:text="${titulo.descricao}"></td>
						<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
						<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
						<td class="text-center" th:attr="data-role=${titulo.codigo}">
							<span class="label label-success" th:text="${titulo.status.descricao}"
								th:classappend="${titulo.pendente ? 'label-danger' : 'label-success'}"></span>
						</td>
						<td class="text-center">
							<a class="btn btn-link btn-xs" th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}"
									title="Editar" rel="tooltip" data-placement="top">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
									th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao}"
									title="Excluir" rel="tooltip" data-placement="top">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
							<a class="btn btn-link btn-xs js-atualizar-status" th:if="${titulo.pendente}"
									title="Receber" rel="tooltip" data-placement="top"
									th:attr="data-codigo=${titulo.codigo}"
									th:href="@{/titulos/{codigo}/receber(codigo=${titulo.codigo})}">
								<span class="glyphicon glyphicon-check"></span>
							</a>
						</td>
					</tr>
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum título encontrado!!</td>
					</tr>
				</tbody>
			</table>
		</div>
	<div th:replace="DialogoConfirmacaoExclusao"></div>
	</div>
</section>
</html>